
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
    scrollbar-width: thin; /* İnce scrollbar */
    scrollbar-color: #5a56e9 #f1f1f1; /* Thumb ve track renkleri */
}
::-webkit-scrollbar {
    width: 14px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
    to bottom,
    #5a56e9,
    #1811e4);

    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #474747;
}

::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
}
.navbar-brand img{
	height: 45px;
	width: auto;
	display: block;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #5a56e9 !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #000;
}
.switched {
	border-color: #000 !important;
	background: #8167a9 !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}

/* SECTION */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
  --first-clr: #5a56e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-clr {
    color: var(--first-clr);
}
.landing-page .landing-page-footer {
    /* padding: 10%; */
    user-select: none;
  }
  .landing-page .landing-page-footer-end {
    /* padding: 10%; */
    user-select: none;
  }
  .landing-page .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .landing-page .content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .landing-page .content .text-cont {
    width: 60%;
  }
  .landing-page .content .text-cont .header {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
  }
  .landing-page .content .text-cont .description {
    font-size: 16px;
    margin: 30px 0;
    color: #777;
    font-weight: 400;
    width: 80%;
  }
  .landing-page .content .text-cont .btn {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    padding: .6rem 1rem;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
    transition: all .2s linear;
  }
  .landing-page .content .text-cont .btn-discover {
    min-width: 160px;
    margin-right: 5px;
    color: #FFF;
    background-color: var(--first-clr);
  }
  .landing-page .content .text-cont .btn-discover:hover {
    border-color: var(--first-clr);
    background-color: transparent;
    color: var(--first-clr);
  }
  .landing-page .content .text-cont .btn-play {
    color: var(--first-clr);
  }
  .landing-page .content .text-cont .btn-play:hover {
    border-color: var(--first-clr);
    background-color: var(--first-clr);
    color: #FFF;
  }
  
  .landing-page .content .img-cont {
    width: 35%;
    position: relative;
  }
  .landing-page .content .img-cont::before,
  .landing-page .content .img-cont::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--first-clr);
  }
  .landing-page .content .img-cont::before {
    top: -5%;
    left: -7%;
    width: 100%;
    height: 60px;
  }
  .landing-page .content .img-cont::after {
    height: 25vh;
    width: 25vh;
    max-width: 180px;
    max-height: 180px;
    bottom: -5%;
    left: -5%;
    border-radius: 0 0 0 15px;
  }
  .landing-page .content .img-cont .img {
    width: 100%;
    display: block;
    border-radius: 0 0 0 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
  }
  
  @media screen and (max-width: 650px) {
    .landing-page .content {
      flex-direction: column;
    }
    .landing-page .content .text-cont,
    .landing-page .content .text-cont .description {
      width: 100%;
    }
    .landing-page .content .text-cont {
      text-align: center;
    }
    .landing-page .content .img-cont {
      width: 80%;
      margin-top: 80px;
    }
    .landing-page .content .text-cont .header {
      padding-top: 20%;
      font-size: 40px;
    }
    .landing-page .content .text-cont .description {
      font-size: 14px;
    }
  }

  /* TIMELINE */
.timeline-container {
    background-color: #f8f9fa; /* Light background for the container */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 400px; /* Sabit yükseklik */
    overflow-y: scroll; /* Yatayda kaydırma */
    overflow-x: hidden; /* Dikeyde kaydırma engellendi */
    margin-top: 2%;
}

.timeline {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    background-color: #dee2e6;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-badge {
    position: absolute;
    left: 10px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #f44;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-top: 1%;
}

.timeline-badge.active {
    background-color: orange;
}

.timeline-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.timeline-content .duration {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    background-color: #e9ecef;
    border-radius: 10px;
    font-size: 12px;
    color: #555;
    opacity: 0.6; /* Görünürlüğü azalt */
    pointer-events: none;
}

.timeline-content .duration.active {
    background-color: orange;
    color: white;
    opacity: 1; /* Görünürlüğü azalt */
    pointer-events: auto;
}

.timeline-content .info {
  cursor: pointer;
  margin-left: auto;
  width: 20px; 
  height: 20px; 
  background-color: #e9ecef; 
  color: #6c757d; 
  font-size: 12px;
  opacity: 0.6; /* Görünürlüğü azalt */
  pointer-events: none;
}

.timeline-content .info.active {
  background-color: orange;
  color: white;
  opacity: 1; /* Görünürlüğü azalt */
  pointer-events: auto;
}

.timeline-content .duration.paused {
    background-color: rgb(5, 119, 75);
    color: white;
    opacity: 1; /* Görünürlüğü azalt */
    pointer-events: auto;
}

.timeline-content .duration.listening {
    background-color: rgb(153, 39, 5);
    color: white;
    opacity: 1; /* Görünürlüğü azalt */
    pointer-events: auto;
}

.header_for_route {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#map {
    width: 100%;
    height: 500px;
    max-height: 70vh; /* Ekrana uyum sağlar */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .landing-page {
    padding: 10%;
    user-select: none;
  }
  .landing-page-footer {
    padding: 1%;
    user-select: none;
  }
  .landing-page-footer-end{
    padding-bottom: 10%;
    padding-top: 0%;
    user-select: none;
  }
  .timeline-content h5 {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
  }
  .timeline-content .duration {
    display: inline-block;
    padding: 2px 6px;
    background-color: #e9ecef;
    border-radius: 10px;
    font-size: 9px;
    color: #555;
    opacity: 0.6; /* Görünürlüğü azalt */
    pointer-events: none;
  }
  .timeline-badge {
    position: absolute;
    left: 10px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #f44;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 9px;
  }

  button .fa-chevron-down {
    font-size: 12px; /* Daha küçük ekranlarda boyut */
  }
  .text-light {
    font-size: 12px;
  }

  #map {
    width: 100%;
    height: 300px;
    max-height: 70vh; /* Ekrana uyum sağlar */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .mt-2 {
    font-size: 11px;
  }
  .timeline-badge {
    margin-top: 3%;
  }
}
.dropdown-menu {
  position: absolute !important;
  z-index: 1050 !important; /* Bootstrap'in dropdown için kullandığı standart z-index */
  background-color: white !important; /* Beyaz arka plan rengi */
}
.my-5.py-5 {
  margin-top: 1rem !important; /* Üst boşluğu küçült */
  /* margin-bottom: 1rem !important; Alt boşluğu küçült */
  padding-top: 1rem !important; /* İç üst boşluğu küçült */
  padding-bottom: 1rem !important; /* İç alt boşluğu küçült */
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.pointer-events-auto {
  pointer-events: auto;
}
#verification-code-container input {
  pointer-events: auto;
}